<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
	<script src="app.js"></script>



	<div ng-app="70kiss" ng-controller="appController">


		<div class="chart-1" style="display: flex; flex-wrap: wrap;">
			<div ng-repeat="d in model1.data.wordCount">
				<div style="
				width:{{d.width}}px; 
				height: {{d.height}}px; 
				border: {{d.border}};
				border-radius: {{d.borderRadius}}px;
				margin-top: 30px;
				">{{d.value}}</div>
			</div>
		</div>
		

		<div class="chart-2">
			<div ng-repeat="d in model2.data.wordCount">
				<div>{{d.count}}</div>
			</div>
		</div>


	</div>
</html>